@if(character != null) {
<div class="character-sheet-header">
  <div class="character-sheet-avatar">
    @if (character.avatar) {
      <img [src]="character.avatar" [alt]="character.name">
    }
  </div>
  <div class="character-sheet-info">
    <h2>{{ character.name }}</h2>

    @if (character.factions && character.factions.length > 0) {
      <div class="character-sheet-factions">
        <h3>Factions</h3>
        <ul>
          @for (faction of character.factions; track faction.id) {
            <li>{{ faction.name }}</li>
          }
        </ul>
      </div>
    }

    @if (customFields.length > 0) {
      <div class="character-sheet-custom-fields">
        <ul>
          @for(field of customFields; track field.fieldMachineName) {
            <li>
              @switch (field.type) {
                @case('short_text') {
                  <app-short-text-field-display [fieldName]="field.fieldName" [fieldValue]="field.fieldValue"></app-short-text-field-display>
                }
                @case('long_text') {
                  <app-long-text-field-display [fieldName]="field.fieldName" [fieldValue]="field.fieldValue"></app-long-text-field-display>
                }
                @case('number') {
                  <app-number-field-display [fieldName]="field.fieldName" [fieldValue]="field.fieldValue"></app-number-field-display>
                }
              }
            </li>
          }
        </ul>
      </div>
    }
  </div>
</div>

@if (isAdmin() && context === 'topic' && character.character_status === 2) {
  <div class="admin-actions">
    <button class="button" (click)="acceptCharacter()">Accept</button>
  </div>
}
}
