@if (isNewMask) {
  <h1><span i18n="@@characterprofileedit.titleNewMask">Create New Mask</span></h1>
} @else {
  <h1><span i18n="@@characterprofileedit.titleEdit">Edit Character Profile</span></h1>
}
<div class="formal">
  <form class="container" (submit)="onSubmit($event)">
    <fieldset>
      <legend><ng-container i18n="@@characterprofileedit.characterDetails">Character Details</ng-container></legend>
      <div class="fs-box hashelp">
        @if (is_mask || isNewMask) {
          <p class="inputfield required">
            <label for="char_name"><ng-container i18n="@@characterprofileedit.name">Name</ng-container> <em>(<ng-container i18n="@@topiccreate.required">Required</ng-container>)</em></label><br />
            <span class="input"><input id="char_name" type="text" name="character_name" [(ngModel)]="characterName" size="80" maxlength="70" required /></span>
          </p>
        } @else {
          <!-- Hidden or readonly if it's a character profile being edited -->
          <p class="inputfield required">
            <label for="char_name"><ng-container i18n="@@characterprofileedit.name">Name</ng-container></label><br />
            <span class="input"><input id="char_name" type="text" name="character_name" [(ngModel)]="characterName" size="80" maxlength="70" readonly class="readonly-input" /></span>
          </p>
        }

        <div class="inputfield required">
          <label i18n="@@characterprofileedit.avatarUrl">Avatar URL</label>
          <app-image-field [name]="'avatar'" [fieldValue]="characterAvatar" [showFieldName]="false"></app-image-field>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend><ng-container i18n="@@characterprofileedit.customFields">Custom Fields</ng-container></legend>
      @for (field of template(); track field.order) {
        <div class="fs-box hashelp">
          <p class="inputfield required">
            <app-field-input [field]="field" [fieldValue]="getFieldValue(field.machine_field_name)"></app-field-input>
          </p>
        </div>
      }
    </fieldset>
    <fieldset>
      <legend i18n="@@characterprofileedit.signature">Signature</legend>
      <div class="fs-box">
        <app-bb-toolbar [textarea]="signatureField" [showSpoiler]="false" [showImageUpload]="false"></app-bb-toolbar>
        <textarea #signatureField rows="5" style="width: 100%; box-sizing: border-box;" [value]="characterSignature"></textarea>
      </div>
    </fieldset>
    <p class="formsubmit">
      <button type="submit" [class]="'btn-save btn-save--' + saveState()" [disabled]="saveState() === 'loading'" accesskey="s">
        @switch (saveState()) {
          @case ('loading') { <span class="spinner"></span> }
          @case ('success') { <span i18n="@@common.saved">Saved</span> }
          @case ('error') { <span i18n="@@common.saveFailed">Failed</span> }
          @default {
            @if (isNewMask) {
              <span i18n="@@characterprofileedit.create">Create</span>
            } @else {
              <span i18n="@@characterprofileedit.update">Update</span>
            }
          }
        }
      </button>
    </p>
  </form>
</div>
