<div id="pun-title" class="section">
  <div class="container">
    <div class="title-site">
      <h1><a href="/">{{ title() }}</a></h1>
      <p><span></span></p>
    </div>
  </div>
</div>

@if (!navlinksAfterHeader()) {
<div class="navlink-container">
  <div id="pun-navlinks" class="section" app-navlinks></div>
<span><ng-container i18n="@@app.hello">Hello</ng-container>, {{currentUser()?.username}}!</span>
</div>
  <div id="pun-ulinks" class="section" app-ulinks></div>
}

<div id="header-widget-panel" appRouterLinks [innerHTML]="headerPanelHtml()"></div>

@if (navlinksAfterHeader()) {
  <div id="pun-navlinks" class="section" app-navlinks></div>
  <div id="pun-ulinks" class="section" app-ulinks></div>
}

<div id="pun-status" class="section">
  <div class="container">
    @if (authService.isAuthenticated()) {
      <app-notifications></app-notifications>
    }
  </div>
</div>
