<h1><span i18n="@@topiccreate.wantedCharacter">Wanted character</span></h1>
<div id="post-form" class="formal">
  <form id="post" class="container" (submit)="onSubmit($event)">
    <fieldset>
      <legend><span i18n="@@topiccreate.writeMessage">Write your message and click "Send"</span></legend>
      <div class="fs-box hashelp">
        <p class="inputfield required longinput">
          <label for="req_name"><ng-container i18n="@@topiccreate.characterName">Name</ng-container> <em><ng-container i18n="@@topiccreate.required">(Required)</ng-container></em></label><br />
          <span class="input"><input id="req_name" type="text" name="req_name" [value]="characterName" size="80" maxlength="70" /></span>
        </p>
        <app-faction-paths
          (factionsChange)="onFactionsChanged($event)">
        </app-faction-paths>
      </div>
    </fieldset>

    <fieldset>
      @for (field of template(); track field.order) {
        <div class="fs-box hashelp">
          <p class="inputfield required">
            @if (field.content_field_type === 'short_text' || field.content_field_type === 'number') {
              <app-short-text-field
                [fieldName]="field.human_field_name"
                [name]="field.machine_field_name">
              </app-short-text-field>
            }
            @if (field.content_field_type === 'long_text') {
              <app-long-text-field
                [fieldName]="field.human_field_name"
                [name]="field.machine_field_name"
                [rows]="10">
              </app-long-text-field>
            }
            @if (field.content_field_type === 'image') {
              <app-image-field
                [fieldName]="field.human_field_name"
                [name]="field.machine_field_name">
              </app-image-field>
            }
          </p>
        </div>
      }
    </fieldset>

    <p class="formsubmit">
      <input type="submit" class="button submit" name="submit" value="Send" i18n-value="@@topiccreate.send" accesskey="s" />
    </p>
  </form>
</div>
