@if (panel(); as panel) {
  <fieldset class="panel-form">
    <legend>{{ panel.key }}</legend>

    <div class="field">
      <app-bb-toolbar [textarea]="contentEl" [showSpoiler]="false" [showImageUpload]="false"></app-bb-toolbar>
      <textarea #contentEl [value]="panel.content ?? ''" rows="10"></textarea>
    </div>

    <div class="field field--toggle">
      <label>
        <input type="checkbox" [(ngModel)]="panel.is_hidden" />
        <span i18n="@@admin.widgetPanels.isHidden">Hidden</span>
      </label>
    </div>

    <div class="form-actions">
      <app-save-button [state]="saveState()" (clicked)="save(contentEl)">
        <span i18n="@@common.update">Update</span>
      </app-save-button>
    </div>
  </fieldset>
}
