<div id="pun-active" class="modmenu">
  <p class="container" style="text-align:left">
    @if (authService.isAuthenticated()) {
      <a style="font-weight:bold" [routerLink]="['/active-users']" i18n="@@currentlyActive.title">Currently active</a>
    } @else {
      <span style="font-weight:bold" i18n="@@currentlyActive.title">Currently active</span>
    }
    <ng-container i18n="@@currentlyActive.guests"> {{ guests() }} гостей,</ng-container>
    <ng-container i18n="@@currentlyActive.users"> {{ users().length }} игроков:</ng-container>
    @for (user of users(); track user.id; let last = $last) {
      <a class="group4" [routerLink]="['/profile', user.id]">{{ user.username }}</a>@if(!last){, }
    }
  </p>
</div>
