.new-icon {
  background-color: #ffc107;
  color: #333;
  font-weight: bold;
  font-size: 0.7em;
  padding: 2px 4px;
  border-radius: 3px;
  text-transform: uppercase;
}

.new-posts .tclcon h3 a {
  font-weight: bold;
}
