<div class="permission-matrix-container">
  <h2>Permission Matrix</h2>

  <form (submit)="saveMatrix(); $event.preventDefault()">
    @for (key of matrixKeys(); track key) {
      <fieldset class="matrix-group">
        <legend>Permissions: {{ getPermissionTypeName(key) }}</legend>
        <div class="table-wrapper">
          <table class="permission-table">
            <thead>
              <tr>
                <th>Permission</th>
                @for (role of roles(); track role[0]) {
                  <th>{{ role[1] }}</th>
                }
              </tr>
            </thead>
            <tbody>
              @for (permission of getPermissionsFor(key); track permission[0]) {
                <tr>
                  <td>{{ permission[1] }}</td>
                  @for (role of roles(); track role[0]) {
                    <td>
                      <input
                        type="checkbox"
                        [name]="key + '.' + role[1] + '.' + permission[0]"
                        [(ngModel)]="getMatrixFor(key).matrix[permission[0]][+role[0]]"
                      />
                    </td>
                  }
                </tr>
              }
            </tbody>
          </table>
        </div>
      </fieldset>
    }

    <div class="form-actions">
      <app-save-button type="submit" [state]="saveState()">
        <span i18n="@@common.save">Save</span>
      </app-save-button>
    </div>
  </form>
</div>
