@if (wantedCharacter != null) {
  <div class="wanted-character-header">
    <h2>
      {{ wantedCharacter.name }}
      @if (wantedCharacter.wanted_character_status === 0) {
        <span class="status-badge status-active" i18n="@@common.statusActive">Active</span>
      } @else if (wantedCharacter.wanted_character_status === 1) {
        <span class="status-badge status-inactive" i18n="@@common.statusInactive">Inactive</span>
      }
    </h2>

    @if (wantedCharacter.factions && wantedCharacter.factions.length > 0) {
      <div class="wanted-character-factions">
        <h3 i18n="@@wantedCharacter.factions">Factions</h3>
        <ul>
          @for (faction of wantedCharacter.factions; track faction.id) {
            <li>{{ faction.name }}</li>
          }
        </ul>
      </div>
    }

    @if (customFields.length > 0) {
      <div class="wanted-character-custom-fields">
        <ul>
          @for (field of customFields; track field.fieldMachineName) {
            <li>
              <app-field-display [type]="field.type" [fieldName]="field.fieldName" [fieldValue]="field.fieldValue"></app-field-display>
            </li>
          }
        </ul>
      </div>
    }
  </div>
}
