@if (wantedCharacter != null) {
  <div class="wanted-character-header">
    <h2>
      {{ wantedCharacter.name }}
      @if (wantedCharacter.wanted_character_status === 0) {
        <span class="status-badge status-active" i18n="@@common.statusActive">Active</span>
      } @else if (wantedCharacter.wanted_character_status === 1) {
        <span class="status-badge status-inactive" i18n="@@common.statusInactive">Inactive</span>
      }
      @if (wantedCharacter.is_claimed) {
        <span class="status-badge status-claimed" i18n="@@common.statusClaimed">Claimed</span>
      } @else if (wantedCharacter.active_claim_record) {
        <span class="status-badge status-temp-claimed" i18n="@@common.statusTemporarilyClaimed">Temporarily claimed (until {{ wantedCharacter.active_claim_record.claim_expiration_date | date:'yyyy-MM-dd' }})</span>
      } @else {
        <span class="status-badge status-available" i18n="@@common.statusAvailable">Available</span>
      }
    </h2>

    @if (wantedCharacter.factions && wantedCharacter.factions.length > 0) {
      <div class="wanted-character-factions">
        <h3>{{ factionsHeader }}</h3>
        <ul>
          @for (faction of wantedCharacter.factions; track faction.id) {
            <li>{{ faction.name }}</li>
          }
        </ul>
      </div>
    }

    @if (customFields.length > 0) {
      <div class="wanted-character-custom-fields">
        <ul>
          @for (field of customFields; track field.fieldMachineName) {
            <li>
              <app-field-display [type]="field.type" [fieldMachineName]="field.fieldMachineName" [fieldName]="field.fieldName" [fieldValue]="field.fieldValue"></app-field-display>
            </li>
          }
        </ul>
      </div>
    }
  </div>
}
