<h2 i18n="@@admin.dashboard">Dashboard</h2>

<section class="health-block">
  <h3 i18n="@@admin.health.title">Server Health</h3>

  <div class="health-charts">
    <div class="health-chart">
      <h4 i18n="@@admin.health.ram">RAM</h4>
      <canvas #ramCanvas></canvas>
    </div>
    <div class="health-chart">
      <h4 i18n="@@admin.health.cpu">CPU</h4>
      <canvas #cpuCanvas></canvas>
    </div>
    <div class="health-chart">
      <h4 i18n="@@admin.health.http">HTTP Requests</h4>
      <canvas #httpCanvas></canvas>
    </div>
    <div class="health-chart">
      <h4 i18n="@@admin.health.ws">WebSocket Connections</h4>
      <canvas #wsCanvas></canvas>
    </div>
  </div>
</section>
